@media screen and (min-width: 1024px) {
    .footer h3{
        font-size: 40px;
    }    
}

.footer{
    margin-top: 150px;
    padding-top: 50px;
    padding: 20px;
    padding-bottom: 90px;
    
}

.footer h3{
    color: #212353;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer p{
    font-size: 18px;
    color: #212353;
}

.footer .footer-copyright{
    align-items: center;
    justify-content: space-between;
}

.footer i{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.footer .logo{
    display: block;
    margin-bottom: 63px;
}

.footer .logo{
    margin: 0 auto;
}


.footer address{
    color: #212353;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    padding-bottom: 10px;
}

.footer-menu-title{
    font-size: 16px;
    font-weight: 900;
    color: #212353;
    margin-bottom: 30px;
}

.footer-menu-list .footer-menu-link{
    display: block;
    font-size: 16px;
    line-height: 40px;
}

.social-media-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
}

.social-media-list .social-media-item{
    padding-left: 7px;
    padding-right: 7px;
}

.social-media-list .social-media-item .social-media-link{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #ddd;
    width: 30px;
    border: 5px solid #ddd;    
}

.social-media-list .social-media-item .social-media-link img{    
    height: 20px;    
}



@media screen and (max-width: 1024px) {
    .footer{
        text-align: center;
    }

    .mobile-margin-bottom{
        margin-bottom: 30px;
    }

    .social{
        margin: 0 auto;
    }

    .footer .footer-h3-p{
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-contact-social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer button{
        margin: auto;
    }

    .footer-contact-button{
        justify-content: center;
        align-items: center;
    }

    .footer-contact-button .column{
        margin-right: auto;
        margin-left: auto;

    }
    .footer-contact-button h3{
        font-size: 40px;
    }   

    
    .footer .footer-copyright{
        align-items: center;
        justify-content: space-between;
    }

    .footer i{
        right: 5%;
        bottom: 15%;
        position: fixed;
        z-index: 11;
    }
}