@media screen and (min-width: 1024px) {

    .hero-section{
        margin-top: 150px;
    }

    .hero-section .hero-image{
        padding-top: 80px;
    }
    

    .hero-section .hero-content h1{
        max-width: 745px;
        font-size: 80px;
    }

    .hero-section .hero-content p{
        font-size: 18px;
        max-width: 480px;
        margin-bottom: 50px;
    }
    .hero-section .hero-content{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }


    .section-header p{
        width: 584px;
        margin: 0 auto; 
    }


    /*pink-section*/
    .pink-section{
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .pink-section-content{
        padding-right: auto;
    }

    .features .card-content{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .features .card-content .card-body{
        margin-bottom: auto;
    }

}


@media screen and (max-width: 1024px) {
    section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero-section .hero-image img{
        width: 100%;
    }
    .hero-content{
        margin-bottom: 15px;
    }

    .pink-section{
        margin-bottom: 30px;
    }
    .pink-section-background{
        padding-bottom: 30px;
    }

     .swiper-slide{
        flex: 0 0 100%;
    }

    .pink-section-small{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pink-section-content{
        text-align: center;
    }

    .pink-section-small img{
        width: 80%;
        height: 50%;
        margin: 5px auto;
    }

    .features .card{
        display: flex;
        align-items: center;
        flex-wrap: wrap; 
        padding-top: 50px;
        padding-bottom: 30px;   
    }
    .features .card-content{
        flex: 1 0 0;
    }


    .features .card-image,
    .features .card-content{
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
    }

    
    .features .card-content{
        background-color: transparent;
    }
    
}


@media screen and (max-width: 768px) {
    .features .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap; 
        padding-top: 50px;
        padding-bottom: 30px;   
    }

    .features .card-content{
        padding-left: 15px;
        padding-right: 15px;
        width: 90%;
    }
    .features .card-image{
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
    }
}

.hero-section .hero-content h1{
    font-weight: 700;
    margin-bottom: 50px;
    color: #212353;
}
.hero-section .hero-content p{
    font-size: 18px;
    line-height: 2;
    color: #4B5D68;   
    font-weight: 500; 
}

/*Pink-section*/
.pink-section{
    margin-top: 150px;
    margin-bottom: 150px;
}
.pink-section-background{
    background-position: right;
    background-image: url('../image/image-sect-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.pink-section img{
    height: 300px;
    border-radius: 50%;
}

.pink-section h2{
    color: #212353;
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
}


.pink-section {
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
}

.pink-section-content h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.pink-section-content p{
    line-height: 1.5;
}
/*Features*/

/* .features .section-header{
    margin-bottom: 70px;
} */

.section-header p{
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}


.section-header h2{
    font-size: 40px;
    color: #212353;
    font-weight: 700;
}

.features .card{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 50px;
    padding-bottom: 30px;   
}
.features .card-content{
    flex: 1 0 0;
}

.features .card-image,
.features .card-content{
    padding-left: 15px;
    padding-right: 15px;
}



/*Comments*/
.comments{
    position: relative;
    overflow-x: hidden;
}


